  .article__content {
    max-width: 1000px;
    margin: 3rem auto 0;
  }
  @media (max-width: 900px) {
    .article__content {
      max-width: 100%;
      padding: 0 1rem;
    }
  }

  .article__info {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .article__author,
  .article__published_at {
    margin-right: 2rem;
    color: #999;
    font-size: 14px;
  }

  .article__published_at {
    margin-right: 0;
  }

  .article__title {
    text-align: center;
  }

  .article__image img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .article__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .article__tags p {
    margin-right: .5rem;
  }

  .article__pagenation {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }

  .article__next,
  .article__previous {
    width: 20%;
    padding: 8px;
    background-color: #eee;
    border-radius: 24px;
  }

  .article__next {
    margin-right: 16px;
  }

  .article__btn {
    display: inherit;
    text-align: center;
  }
